{% extends "layouts/main.html" %}

{% block pageTitle %}
  Do you want to recover your legal representative’s fixed recoverable costs? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link govuk-link--no-visited-state" href="#">give your feedback (opens in new tab)</a>.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: ""
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

          {{ govukRadios({
            name: "whereDoYouLive",
            fieldset: {
              legend: {
                text: "Are you a legal representative seeking to recover fixed costs on behalf of your client?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "If you are a lawyer and are charging your client a fee for making this application for a warrant [or writ], you may recover only a fixed amount from the defendant. This is where you should ask for them."
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
