{% extends "layouts/main.html" %}

{% block pageTitle %}
  How much were your legal representative’s costs – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link govuk-link--no-visited-state" href="#">give your feedback (opens in new tab)</a>.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "./fixed-costs-1"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="./fixed-costs-1" method="post">

        {% set yesHtml %}
          {{ govukInput({
            id: "contact-by-text",
            name: "contactByText",
            type: "tel",
            classes: "govuk-!-width-one-third",
            label: {
              text: "How much were your legal representative’s costs"
            },
            prefix: {
              text: "£"
            }
          }) }}
          {% endset -%}

          {{ govukRadios({
            name: "whereDoYouLive",
            fieldset: {
              legend: {
                text: "Do you want to recover legal representative’s costs?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "(Something like) these are fixed costs for a lawyer to help with your case."
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                conditional: {
                  html: yesHtml
                }
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
