{% extends "layouts/main.html" %}

{% block pageTitle %}
  How much were your legal representative’s costs – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link govuk-link--no-visited-state" href="#">give your feedback (opens in new tab)</a>.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "./fixed-costs-2"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

          {{ govukRadios({
            name: "whereDoYouLive",
            fieldset: {
              legend: {
                text: "Do you want to recover your legal representative’s fixed recoverable costs?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "These are your lawyer’s costs, which they will charge to you as part of their fee. The amount you can recover is fixed."
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
